.fade-enter,
.fade-appear {
  opacity: 0.01;
  transform: translateY(2rem);
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1000ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all 1000ms ease-in;
}

.nav-enter,
.nav-appear {
  opacity: 0.01;
  transform: translateY(-2rem);
}

.nav-enter-active,
.nav-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1000ms ease;
}

.nav-exit {
  opacity: 1;
}

.nav-exit-active {
  opacity: 0.01;
  transition: all 1000ms ease-in;
}
