.galleryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-top: 3.25rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--theme-black);
  }
  .threeCards {
    div.cards {
      position: relative;
      a {
        display: block;
        width: 100vw;
        height: 100vw;
        img {
          width: 100vw;
          height: 100vw;
        }
        .mobileFilter {
          position: absolute;
          width: 100vw;
          height: 35vw;
          border-bottom-right-radius: 100%;
          border-bottom-left-radius: 100%;
          box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.5);
          overflow: hidden;
        }
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .galleryPage {
    h1 {
      display: none;
    }
    .threeCards {
      display: flex;
      justify-content: center;
      width: 90vw;
      padding-top: 3rem;
      div.cards {
        padding: 1rem;
        a {
          width: 25vw;
          height: 25vw;
          img {
            width: 25vw;
            height: 25vw;
          }
          .mobileFilter {
            width: 25vw;
            height: 25vw;
            border-radius: 0;
            opacity: 0;
            transition: all 0.2s ease;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
