.imgSliderBox {
  width: 100vw;

  .coverflow {
    width: 100%;
    height: 40vw;
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      animation: slider 90s linear infinite;

      img {
        max-width: 100%;
      }

      /*每個圖片各延遲10秒*/
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 10s;
      }
      &:nth-child(3) {
        animation-delay: 20s;
      }
      &:nth-child(4) {
        animation-delay: 30s;
      }
      &:nth-child(5) {
        animation-delay: 40s;
      }
      &:nth-child(6) {
        animation-delay: 50s;
      }
      &:nth-child(7) {
        animation-delay: 60s;
      }
      &:nth-child(8) {
        animation-delay: 70s;
      }
      &:nth-child(9) {
        animation-delay: 80s;
      }
    }
  }
  #secondSlide {
    a {
      &:nth-child(1) {
        animation-delay: 1s;
      }
      &:nth-child(2) {
        animation-delay: 11s;
      }
      &:nth-child(3) {
        animation-delay: 21s;
      }
      &:nth-child(4) {
        animation-delay: 31s;
      }
      &:nth-child(5) {
        animation-delay: 41s;
      }
      &:nth-child(6) {
        animation-delay: 51s;
      }
      &:nth-child(7) {
        animation-delay: 61s;
      }
      &:nth-child(8) {
        animation-delay: 71s;
      }
      &:nth-child(9) {
        animation-delay: 81s;
      }
    }
  }
  #thirdSlide {
    a {
      &:nth-child(1) {
        animation-delay: 2s;
      }
      &:nth-child(2) {
        animation-delay: 12s;
      }
      &:nth-child(3) {
        animation-delay: 22s;
      }
      &:nth-child(4) {
        animation-delay: 32s;
      }
      &:nth-child(5) {
        animation-delay: 42s;
      }
      &:nth-child(6) {
        animation-delay: 52s;
      }
      &:nth-child(7) {
        animation-delay: 62s;
      }
      &:nth-child(8) {
        animation-delay: 72s;
      }
      &:nth-child(9) {
        animation-delay: 82s;
      }
    }
  }
  #forthSlide {
    a {
      &:nth-child(1) {
        animation-delay: 3s;
      }
      &:nth-child(2) {
        animation-delay: 13s;
      }
      &:nth-child(3) {
        animation-delay: 23s;
      }
      &:nth-child(4) {
        animation-delay: 33s;
      }
      &:nth-child(5) {
        animation-delay: 43s;
      }
      &:nth-child(6) {
        animation-delay: 53s;
      }
      &:nth-child(7) {
        animation-delay: 63s;
      }
      &:nth-child(8) {
        animation-delay: 73s;
      }
      &:nth-child(9) {
        animation-delay: 83s;
      }
    }
  }
}
@keyframes slider {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@media screen and (min-width: 993px) {
  .imgSliderBox {
    padding-top: 7rem;
    .coverflow {
      width: 60vw;
      height: 50vh;
      margin: 0 auto;
      a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      &:hover {
        a {
          animation-play-state: paused;
        }
      }
    }
  }
}
