:root {
  --theme-black: hsl(224, 100%, 4%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", "Noto Serif TC", serif;
  font-weight: normal;
}
#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--theme-black);
}
ul {
  list-style-type: none;
}
::selection {
  background: hsl(0, 0%, 71%);
  color: white;
}

@import "./nav";
@import "./burger";
@import "./slider";
@import "./homepage";
@import "./galleryPage";
@import "./galleryDetailPage";
@import "./contectPage";
@import "./animation";
