@charset "UTF-8";
:root {
  --theme-black: hsl(224, 100%, 4%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", "Noto Serif TC", serif;
  font-weight: normal;
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--theme-black);
}

ul {
  list-style-type: none;
}

::-moz-selection {
  background: #b5b5b5;
  color: white;
}

::selection {
  background: #b5b5b5;
  color: white;
}

.nav-component a h1 {
  display: none;
}
.nav-component ul {
  display: none;
}

@media screen and (min-width: 993px) {
  .nav-component {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-component a h1 {
    display: block;
    color: var(--theme-black);
    padding-top: 4rem;
    opacity: 0.8;
    font-size: 3rem;
    transition: all 0.2s ease;
  }
  .nav-component a h1:hover {
    opacity: 1;
  }
  .nav-component ul {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    color: var(--theme-black);
    padding: 4rem 0 2rem;
  }
  .nav-component ul li a {
    color: var(--theme-black);
    opacity: 0.4;
    font-size: 1.5rem;
    transition: all 0.2s ease;
  }
  .nav-component ul li a:hover {
    opacity: 1;
  }
  .nav-component ul li.active a {
    opacity: 1;
  }
}
.burgerComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burgerComponent label.burger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 101;
}
.burgerComponent label.burger div.container {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}
.burgerComponent label.burger div.container .bar1,
.burgerComponent label.burger div.container .bar2,
.burgerComponent label.burger div.container .bar3 {
  width: 21px;
  height: 2px;
  background: var(--theme-black);
  margin: 7px 7px;
  transition: 0.4s;
  pointer-events: none;
}
.burgerComponent nav#burgerNav {
  position: absolute;
  height: 120vh;
  width: 80%;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  background-color: #dadada;
  transform: translateX(-115%);
  transition: 0.5s;
  box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.5);
}
.burgerComponent nav#burgerNav > a {
  display: block;
  opacity: 0.8;
  font-size: 1.875rem;
  margin: 4rem 2rem 1rem;
}
.burgerComponent nav#burgerNav > ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burgerComponent nav#burgerNav > ul li a {
  opacity: 0.6;
  display: block;
  padding: 0px 2rem 0.5rem;
  font-size: 1rem;
}
.burgerComponent nav#burgerNav.open {
  transform: translateX(0%);
}
.burgerComponent .change .bar1 {
  /* Rotate first bar */
  transform: rotate(-45deg) translate(-6px, 6px);
}
.burgerComponent .change .bar2 {
  /* Fade out the second bar */
  opacity: 0;
}
.burgerComponent .change .bar3 {
  /* Rotate last bar */
  transform: rotate(45deg) translate(-7px, -7px);
}
.burgerComponent #menu-switcher {
  display: none;
}

@media screen and (min-width: 993px) {
  .burgerComponent {
    display: none;
  }
}
.imgSliderBox {
  width: 100vw;
}
.imgSliderBox .coverflow {
  width: 100%;
  height: 40vw;
  position: relative;
}
.imgSliderBox .coverflow a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: slider 30s linear infinite;
          animation: slider 30s linear infinite;
  /*每個圖片各延遲10秒*/
}
.imgSliderBox .coverflow a img {
  max-width: 100%;
}
.imgSliderBox .coverflow a:nth-child(3) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.imgSliderBox .coverflow a:nth-child(2) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.imgSliderBox .coverflow a:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.imgSliderBox #secondSlide a:nth-child(3) {
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
}
.imgSliderBox #secondSlide a:nth-child(2) {
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.imgSliderBox #secondSlide a:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.imgSliderBox #thirdSlide a:nth-child(3) {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
}
.imgSliderBox #thirdSlide a:nth-child(2) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.imgSliderBox #thirdSlide a:nth-child(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.imgSliderBox #forthSlide a:nth-child(3) {
  -webkit-animation-delay: 23s;
          animation-delay: 23s;
}
.imgSliderBox #forthSlide a:nth-child(2) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}
.imgSliderBox #forthSlide a:nth-child(1) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes slider {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes slider {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@media screen and (min-width: 993px) {
  .imgSliderBox {
    padding-top: 7rem;
  }
  .imgSliderBox .coverflow {
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
  }
  .imgSliderBox .coverflow:hover a {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePage a h1 {
  padding-top: 3.25rem;
  font-size: 2rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.galleryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryPage h1 {
  padding-top: 3.25rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--theme-black);
}
.galleryPage .threeCards div.cards {
  position: relative;
}
.galleryPage .threeCards div.cards a {
  display: block;
  width: 100vw;
  height: 100vw;
}
.galleryPage .threeCards div.cards a img {
  width: 100vw;
  height: 100vw;
}
.galleryPage .threeCards div.cards a .mobileFilter {
  position: absolute;
  width: 100vw;
  height: 35vw;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

@media screen and (min-width: 993px) {
  .galleryPage h1 {
    display: none;
  }
  .galleryPage .threeCards {
    display: flex;
    justify-content: center;
    width: 90vw;
    padding-top: 3rem;
  }
  .galleryPage .threeCards div.cards {
    padding: 1rem;
  }
  .galleryPage .threeCards div.cards a {
    width: 25vw;
    height: 25vw;
  }
  .galleryPage .threeCards div.cards a img {
    width: 25vw;
    height: 25vw;
  }
  .galleryPage .threeCards div.cards a .mobileFilter {
    width: 25vw;
    height: 25vw;
    border-radius: 0;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .galleryPage .threeCards div.cards a .mobileFilter:hover {
    opacity: 1;
  }
}
.galleryDetailPage {
  margin-top: 13rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryDetailPage .top {
  width: 100vw;
}
.galleryDetailPage .top div.videoBox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.galleryDetailPage .top div.videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.galleryDetailPage .bottom {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 1.5rem;
}
.galleryDetailPage .bottom .titleWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galleryDetailPage .bottom div {
  position: absolute;
  top: 4.8rem;
  left: 0;
  right: 0;
}
.galleryDetailPage .bottom div h2 {
  color: var(--theme-black);
  opacity: 0.8;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 0.1rem;
  text-align: center;
}
.galleryDetailPage .bottom h3 {
  width: 100%;
  color: var(--theme-black);
  opacity: 0.7;
  font-size: 0.875rem;
  line-height: 203.2%;
  text-align: justify;
  margin-bottom: 2rem;
}
.galleryDetailPage .bottom p {
  font-size: 0.6875rem;
  opacity: 0.7;
  line-height: 203.2%;
  margin-bottom: 3rem;
}

@media screen and (min-width: 993px) {
  .galleryDetailPage {
    margin-top: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
  }
  .galleryDetailPage .top {
    width: 50%;
    padding: 1rem 2rem 0 0;
    display: flex;
    align-items: center;
  }
  .galleryDetailPage .bottom {
    width: 40%;
    justify-content: space-between;
    padding-top: 1rem;
  }
  .galleryDetailPage .bottom .titleWrap {
    justify-content: flex-start;
  }
  .galleryDetailPage .bottom div {
    position: inherit;
  }
  .galleryDetailPage .bottom div h2 {
    font-size: 1.5rem;
    line-height: 170%;
    text-align: start;
    font-weight: 600;
  }
  .galleryDetailPage .bottom h3 {
    width: 80%;
    font-size: 1rem;
    line-height: 180%;
  }
  .galleryDetailPage .bottom p {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    margin: 0;
  }
}
.contactPage {
  display: flex;
  flex-direction: column;
}
.contactPage h1 {
  padding: 3.25rem 0 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--theme-black);
  text-align: center;
}
.contactPage section.selfPic {
  display: flex;
  justify-content: center;
}
.contactPage section.selfPic img {
  width: 70vw;
  height: 70vw;
}
.contactPage section.selfInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactPage section.selfInfo section.top {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactPage section.selfInfo section.top h2 {
  font-size: 1.125rem;
  opacity: 0.9;
  color: var(--theme-black);
  padding: 1rem 0;
}
.contactPage section.selfInfo section.top h2 > span {
  display: none;
}
.contactPage section.selfInfo section.top p {
  font-size: 0.875rem;
  opacity: 0.7;
  color: var(--theme-black);
  text-align: justify;
  line-height: 192.5%;
  letter-spacing: 0.1rem;
  padding: 0 0 1rem;
}
.contactPage section.selfInfo section.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25rem 0;
  position: relative;
}
.contactPage section.selfInfo section.bottom h3 {
  font-size: 0.75rem;
  opacity: 0.7;
  color: var(--theme-black);
  line-height: 87.2%;
  letter-spacing: normal;
  padding: 0.25rem;
}
.contactPage section.selfInfo section.bottom div.iconBox {
  margin-top: 0rem;
  position: absolute;
  bottom: 3.25rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.contactPage section.selfInfo section.bottom div.iconBox a {
  padding: 0 0.75rem;
}
.contactPage section.selfInfo section.bottom div.iconBox a img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

@media screen and (min-width: 993px) {
  .contactPage {
    flex-direction: row;
    padding-top: 2rem;
    width: 100vw;
  }
  .contactPage h1 {
    display: none;
  }
  .contactPage section.selfPic {
    width: 50%;
    padding-top: 1rem;
    justify-content: flex-end;
    transform: translateX(-60px);
  }
  .contactPage section.selfPic img {
    width: 25vw;
    height: 25vw;
  }
  .contactPage section.selfInfo {
    width: 50%;
    justify-content: space-between;
    align-items: inherit;
    padding-left: 2.5rem;
  }
  .contactPage section.selfInfo section.top {
    width: 60%;
    align-items: flex-start;
  }
  .contactPage section.selfInfo section.top h2 {
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 1;
    padding-bottom: 0rem;
  }
  .contactPage section.selfInfo section.top h2 > span {
    display: inline;
  }
  .contactPage section.selfInfo section.top p {
    font-size: 1.2rem;
    line-height: 200%;
    letter-spacing: 0.15rem;
    padding: 2rem 0 0rem;
  }
  .contactPage section.selfInfo section.bottom {
    align-items: unset;
    padding: 0;
    position: relative;
  }
  .contactPage section.selfInfo section.bottom h3 {
    font-size: 1rem;
    line-height: 200%;
    letter-spacing: 0.05rem;
    padding: 0;
  }
  .contactPage section.selfInfo section.bottom div.iconBox {
    padding-top: 1rem;
    position: unset;
    justify-content: unset;
  }
  .contactPage section.selfInfo section.bottom div.iconBox a {
    padding: 0 1rem 0 0;
  }
  .contactPage section.selfInfo section.bottom div.iconBox a img {
    width: 35px;
    height: 35px;
  }
  .contactPage section.selfInfo section.bottom div.iconBox a img:hover {
    -webkit-animation: icon 0.35s forwards;
            animation: icon 0.35s forwards;
  }
}
@-webkit-keyframes icon {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes icon {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-enter,
.fade-appear {
  opacity: 0.01;
  transform: translateY(2rem);
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1500ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all 1500ms ease-in;
}

.nav-enter,
.nav-appear {
  opacity: 0.01;
  transform: translateY(-2rem);
}

.nav-enter-active,
.nav-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1500ms ease;
}

.nav-exit {
  opacity: 1;
}

.nav-exit-active {
  opacity: 0.01;
  transition: all 1500ms ease-in;
}/*# sourceMappingURL=style.css.map */