@charset "UTF-8";
:root {
  --theme-black: hsl(224, 100%, 4%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", "Noto Serif TC", serif;
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--theme-black);
}

ul {
  list-style-type: none;
}

::-moz-selection {
  background: #b4b4b4;
  color: white;
}

::selection {
  background: #b4b4b4;
  color: white;
}

.nav-component a h1 {
  display: none;
}
.nav-component ul {
  display: none;
}

.burgerComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burgerComponent label.burger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 101;
}
.burgerComponent label.burger div.container {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}
.burgerComponent label.burger div.container .bar1,
.burgerComponent label.burger div.container .bar2,
.burgerComponent label.burger div.container .bar3 {
  width: 21px;
  height: 2px;
  background: var(--theme-black);
  margin: 7px 7px;
  transition: 0.4s;
  pointer-events: none;
}
.burgerComponent nav#burgerNav {
  position: absolute;
  height: 120vh;
  width: 80%;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  background-color: #dadada;
  transform: translateX(-115%);
  transition: 0.5s;
  box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.5);
}
.burgerComponent nav#burgerNav > a {
  display: block;
  opacity: 0.8;
  font-size: 1.875rem;
  margin: 4rem 2rem 1rem;
}
.burgerComponent nav#burgerNav > ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burgerComponent nav#burgerNav > ul li a {
  opacity: 0.6;
  display: block;
  padding: 0px 2rem 0.5rem;
  font-size: 1rem;
}
.burgerComponent nav#burgerNav.open {
  transform: translateX(0%);
}
.burgerComponent .change .bar1 {
  /* Rotate first bar */
  transform: rotate(-45deg) translate(-6px, 6px);
}
.burgerComponent .change .bar2 {
  /* Fade out the second bar */
  opacity: 0;
}
.burgerComponent .change .bar3 {
  /* Rotate last bar */
  transform: rotate(45deg) translate(-7px, -7px);
}
.burgerComponent #menu-switcher {
  display: none;
}

.imgSliderBox {
  width: 100vw;
}
.imgSliderBox .coverflow {
  width: 100%;
  height: 40vw;
  position: relative;
}
.imgSliderBox .coverflow a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: slider 30s linear infinite;
          animation: slider 30s linear infinite;
  /*每個圖片各延遲10秒*/
}
.imgSliderBox .coverflow a img {
  max-width: 100%;
}
.imgSliderBox .coverflow a:nth-child(3) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.imgSliderBox .coverflow a:nth-child(2) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.imgSliderBox .coverflow a:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.imgSliderBox #secondSlide a:nth-child(3) {
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
}
.imgSliderBox #secondSlide a:nth-child(2) {
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.imgSliderBox #secondSlide a:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.imgSliderBox #thirdSlide a:nth-child(3) {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
}
.imgSliderBox #thirdSlide a:nth-child(2) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.imgSliderBox #thirdSlide a:nth-child(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.imgSliderBox #forthSlide a:nth-child(3) {
  -webkit-animation-delay: 23s;
          animation-delay: 23s;
}
.imgSliderBox #forthSlide a:nth-child(2) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}
.imgSliderBox #forthSlide a:nth-child(1) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes slider {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes slider {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePage a h1 {
  padding-top: 3.25rem;
  font-size: 2rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.galleryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryPage h1 {
  padding-top: 3.25rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--theme-black);
}
.galleryPage .threeCards div.cards {
  position: relative;
}
.galleryPage .threeCards div.cards a {
  display: block;
  width: 100vw;
  height: 100vw;
}
.galleryPage .threeCards div.cards a img {
  width: 100vw;
  height: 100vw;
}
.galleryPage .threeCards div.cards a .mobileFilter {
  position: absolute;
  width: 100vw;
  height: 35vw;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */